body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* flex to center page */
    display: flex;
    justify-content: center;
}
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 80vw;
    /* 80% of the view width */
}

@media only screen and (max-width: 1000px) {
    /* use 100 percent of screen with 1000 px or less*/
    .page {
        width: 100vw;
    }
  }
  @media only screen and (min-width: 1500px) {
    /* use 50 percent of screen with 1500 px or more*/
    .page {
        width: 65vw;
    }
  }

header, nav, aside, section, footer {
    padding: 20px;
    margin: 10px;
}
header {
    background-color: DarkGreen;
    color: white;
}
 
nav {
    background-color: DarkSeaGreen;
    display: flex; /* centers links */
    justify-content: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}
 
section {
    background-color: HoneyDew;
}
aside {
    background-color: DarkSeaGreen;
}

@media only screen and (min-width: 1200px) {
    aside ul {
        /*makes buttons horizontal over 1200 px wide */
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
  }
footer {
    background-color: DarkGreen;
    color: white;
    text-align: center;
}