body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}
.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "header header "
        "nav main"
        "footer footer";
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}
header {
    grid-area: header;
    background-color: Sienna;
    color: white;
    padding: 20px;
    margin: 10px;
}

nav {
    grid-area: nav;
    background-color: BurlyWood;
    padding: 20px;
    margin: 10px;
}
main {
    display: grid; /* grid in grid! */
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "section aside";
}
section {
    grid-area: section;
    background-color: FloralWhite;
    padding: 20px;
    margin: 10px;
}
aside {
    grid-area: aside;
    background-color: AntiqueWhite;
    padding: 20px;
    margin: 10px;
}
footer {
    grid-area: footer;
    background-color: SaddleBrown;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
nav ul li {
    margin: 10px 0;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}